<figure class="post" data-post-id="<%= post._id %>" style="background-image: url('<%= theme.image_path + date(post.date, 'YYYY') + '--' + post.title + theme.image_type %>')">
  <a class="post-link" id="postLink" href="<%= config.root %>"></a>
</figure>
