<header class="page-header container">
  <h1 class="title"><a href="<%= config.root %>" class="title-link"><%= __('Title') %></a></h1>
  <h3 class="author"><a class="author-link" href="http://justinjaywang.com"><%= __('Author') %></a></h3>
</header>
