<header class="page-header container">
  <h1 class="title"><%= __('Title') %></h1>&#8196;·&#8196;<h3 class="author"><a class="author-link" href="http://projects.justinjay.wang/monograms/"><%= __('Author') %></a></h3>
</header>
