<figure class="postThumbnail" data-post-id="<%= post._id %>">
  <a href="<%- url_for(post.path) %>" class="postThumbnail-link">
    <img src="<%= theme.image_path + date(post.date, 'YYYY') + '--' + post.title + theme.image_type %>">
  </a>
</figure>
