// base
* {
  .box-sizing(border-box);
  .transition(all @transition-duration ease-in);
}
*:before,
*:after {
  .box-sizing(border-box);
}
html,
body {
  .fill();
}
html {
  font-size: @font-size--html;
}
body {
  position: relative;
  color: @color--body;
  background-color: @background-color--body;
  font-family: @font-family--body;
  font-size: @font-size--body;
  font-weight: @font-weight--body;
  line-height: @line-height--body;
  letter-spacing: @letter-spacing--body;
  text-rendering: optimizeLegibility;
  .font-smoothing(antialiased);
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
.container {
  .margin-center();
  width: @width--container;
  max-width: @max-width--container;
}
a {
  color: @color--a;
  text-decoration: none;
}

// typography
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
}

// content
.page-header {
  padding-top: @padding-top--page-header;
}
.page-header > * {
  display: inline;
}
.title {
  color: @color--title;
  font-weight: @font-weight--title;
  margin-right: @margin-right--title;
}
.author {
  color: @color--author;
  font-weight: @font-weight--author;
}
.year {
  padding-top: @padding-top--year;
  padding-bottom: @padding-bottom--year;
}
.year-label {
  font-weight: @font-weight--year-label;
  margin-bottom: @margin-bottom--year-label;
  color: @color--year-label;
}
.postThumbnails {
  .clearfix();
  margin-left: -@postThumbnail-gutter / 2;
  margin-right: -@postThumbnail-gutter / 2;
}
.postThumbnail {
  float: left;
  padding: @postThumbnail-gutter / 2;
}
.postThumbnail img {
  .img-responsive();
  .opacity(@opacity--image);
}
.postThumbnail-link:hover {
  cursor: zoom-in;
}
.post {
  .fill();
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  .opacity(@opacity--image);
}
.post-link {
  .blockify();
}
.post-link {
  cursor: zoom-out;
}

// transitions
.post {
  .transition(opacity @opacity-duration ease);
}
.isTransitioning .post {
  .opacity(0);
}

// responsive grid
@media (min-width: @width-screen-md-min) {
  .postThumbnail {
    .postThumbnail-width(4);
  }
}
@media (min-width: @width-screen-sm-min) and (max-width: @width-screen-sm-max) {
  .postThumbnail {
    .postThumbnail-width(3);
  }
}
@media (max-width: @width-screen-xs-max) {
  .postThumbnail {
    .postThumbnail-width(2);
  }
}

// utilities
.fill() {
  height: 100%;
  width: 100%;
}
.blockify() {
  display: block;
  .fill();
}
