// base
* {
  .box-sizing(border-box);
  .transition(all @transition-duration ease-in);
}
*:before,
*:after {
  .box-sizing(border-box);
}
html {
  font-size: @font-size--html;
}
body {
  height: 100%;
  width: 100%;
  position: relative;
  color: @color--body;
  background-color: @background-color--body;
  font-family: @font-family--body;
  font-size: @font-size--body;
  font-weight: @font-weight--body;
  line-height: @line-height--body;
  letter-spacing: @letter-spacing--body;
  text-rendering: optimizeLegibility;
  .font-smoothing(antialiased);
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
@media (min-width: @width-screen-md-min) and (max-width: @width-screen-md-max) {
  html {
    font-size: @font-size--html-md;
  }
}
@media (min-width: @width-screen-sm-min) and (max-width: @width-screen-sm-max) {
  html {
    font-size: @font-size--html-sm;
  }
}
@media (max-width: @width-screen-xs-max) {
  html {
    font-size: @font-size--html-xs;
  }
}
.container {
  width: 100%;
  .margin-center();
  max-width: @max-width--container;
  padding-left: @container-gutter;
  padding-right: @container-gutter;
}
a {
  color: @color--a;
  text-decoration: none;
}

// typography
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
}

// content
.page-header {
  margin-top: @margin-top--page-header;
}
.page-header > * {
  display: inline;
}
.title {
  color: @color--title;
  font-weight: @font-weight--title;
  margin-right: @margin-right--title;
}
.author {
  color: @color--author;
  font-weight: @font-weight--author;
}
.year:first-of-type {
  margin-top: @margin-top--year-first;
}
.year:last-of-type {
  margin-bottom: @margin-bottom--year-last;
}
.year {
  margin-top: @margin-top--year;
  font-size: 0;
}
.year-label {
  font-size: @font-size--year-label;
  font-weight: @font-weight--year-label;
  margin-bottom: @margin-bottom--year-label;
  color: @color--year-label;
}
.permalink {
  margin-top: @margin-top--permalink;
}
.post-list {
  font-size: 0;
}
.post {
  margin-bottom: @margin-bottom--post;
}
.post img {
  .img-responsive();
  opacity: @opacity--image;
}
.post--preview {
  display: inline-block;
}
@media (min-width: @width-screen-md-min) {
  .post--preview {
    .post--preview-width(4);
    margin-left: @margin-left--post--preview;
    &:nth-of-type(4n+1) {
      margin-left: 0;
    }
  }
}
@media (min-width: @width-screen-sm-min) and (max-width: @width-screen-sm-max) {
  .post--preview {
    .post--preview-width(3);
    margin-left: @margin-left--post--preview;
    &:nth-of-type(3n+1) {
      margin-left: 0;
    }
  }
}
@media (max-width: @width-screen-xs-max) {
  .post--preview {
    .post--preview-width(2);
    margin-left: @margin-left--post--preview;
    &:nth-of-type(2n+1) {
      margin-left: 0;
    }
  }
}
.post--preview * {
  font-size: @font-size--post--preview-content;
}
