<main class="page-main container">
  <section class="index">

    <% var last; %>
    <% page.posts.each(function(post, i){ %>

      <% var year = post.date.year(); %>
        <% if (last != year) { %>
          <% last = year; %>
          <h4 class="year"><%= year %></h4>
        <% } %>

        <%- partial('_partials/article-preview', {post: post, index: true, archive: true}) %>

      <% }); %>

  </section>
</main>
