<%- partial('_partials/header', null, {cache: !config.relative_link}) %>
<main class="page-main container">
  <% var last; %>
  <% page.posts.each(function(post, i){ %>
    <% var year = post.date.year(); %>
    <% if (last != year) { %>
      <% if (last != null){ %></section><% } %>
      <% last = year; %>
      <section class="year">
        <h2 class="year-label"><%= year %></h2>
    <% } %>
    <%- partial('_partials/postThumbnail', {post: post}) %>
  <% }); %>
</main>
